@font-face
	{
		font-family: 'YorkBaile';
		src: url('assets/polices/yorkbailehill.otf'),
			 url('assets/polices/yorkbailehill.ttf');
		font-weight: normal;
		font-style: normal;
	}

@font-face
	{
		font-family: 'Gomarice';
		src : url('assets/polices/gomarice_usuazi_hosomozi.ttf');
		font-weight: normal;
		font-style: normal;
	}

#secret
{
	text-decoration : none;
	color : #58585a;
}

#secret:hover
{
	text-decoration : none;
}

#secret:visited
{
	color : #58585a;
	text-decoration : none;
}

body
{
    background: url('assets/images/fond2.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 90%;
    margin: auto;
}

/* HEADER */

header
{
	margin-bottom : 20px;
	border-bottom : ridge #58585a 2px;
	box-shadow : 0px 4px 3px -3px #58585a;
	padding-left : 10px;
}

section h1, footer h1, nav a
{
    font-family: 'York, serif';
    font-weight: normal;
    text-transform: uppercase;
}

header h1
{
    font-family: 'YorkBaile', serif;
    font-size: 3.5em;
    font-weight: normal;
	color : #58585a;
    margin: 30px 0 0 10px;
	display : inline-block;
	vertical-align : top;
}

header h2
{
	display : block;
    font-family: 'YorkBaile', serif;
    font-size: 1.5em;
	color : #58585a;
    margin-top: 0px;
    font-weight: normal;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    margin-right: 15px;
	display : inline;
	border : solid #58585a 2px;
	border-radius : 5px;
	padding : 3px;
}

nav a
{
    font-size: 1.2em;
    color: #58585a;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:visited
{
	text-decoration : none;
}

nav a:hover
{
    color: #58585a;
}

nav li:hover
{
	color : #58585a;
	border : 2px #58585a dotted;
}

.position
{
	border : dashed #58585a 2px;
}

/* CORPS - ARTICLE */

article, #asides
{
	display : inline-block;
	vertical-align : top;
	text-align : justify;
}


article
{
	width: 700px;
	margin-right: 70px;
	margin-left : 120px;
}

article h1
{
	font-size : 1.5em;
}

/* CORPS - FORMULAIRE */

.formulaire
{
	display : block;
	margin-top : 5px;
	margin-bottom : 5px;
}

#formulaire_msgbox label, #formulaire_msgbox input
{
	vertical-align : top;
}

#formulaire_msgbox textarea
{
	resize : none;
}

#send_button
{
	margin-top : 15px;
	margin-left : 45%;
}

/* CORPS - ASIDE */

#asides
{
	width : 20%;
}

#fred, #jamy
{
	position: relative;
	width: 250px;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	padding-top: 5px;
	color: #58585a;
	background-image : url("assets/images/background.png");
	font-weight: normal;
}

#fred
{
	margin-bottom: 5px;
}

#jamy
{
	margin-top: 5px;
	font-size : 14px;
}

#jamy h1
{
	font-size: 1.2em;
	text-align: center;
}

.photo_cps
{
	vertical-align: middle;
	margin-left: 8px;
}

/* FOOTER */

footer
{
    padding-top: 25px;
	margin-top : 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
	font-size: 1em;
	font-family: 'ComicRelief', serif;
	font-weight: normal;
	text-transform: uppercase;
	border-top: 2px solid black;
	color: rgb(0,0,0);
}

footer a
{
	color: #7a4eff;
	text-decoration: none;
}

#annotations, #supplements, #sources
{
    display: inline-block;
    vertical-align: top;
}

#annotations
{
    width: 22%;
	margin-left: 2px;
	text-align: center;
}

#supplements
{
    width: 48%;
	text-align: center;
}

#sources
{
    width: 26%;
	padding-right: 20px;
	text-align: center;
	margin-left: 20px;
}

#sources li
{
	list-style-type: none;
}

#supplements img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#sources ul, #supplements ul
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    padding-left: 2px;
}

#banqueimage a
{
	display:inline-block;
	vertical-align:top;
}